body {
    margin: 0;
    background: linear-gradient(to bottom, #A3B18A 0%, White 50%, #ffffff 100%);
    height: 100%;
}


.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #588157;  
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa các phần tử theo chiều ngang */
    position: fixed;
    top: 0;
    width: 100%;
}

.navBar li {
    display: inline-block; /* Hiển thị các li như là các khối nằm trong một dòng */
}

.navBar li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.15s;
}


.navBar li a:hover {
    background-color: #476E47; 
}

.navBar li a:active {
    background-color: #476E47;
}


.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-top: 60px;
    margin-right: 0px;
}

.logo .laptop {
    max-width: 30%;
    height: auto;
}

.logo .title {
    max-width: 40%;
    height: auto;
}

.logo .phone {
    max-width: 25%;
    height: auto;
}
/* Customize */

.content {
    font-size: x-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 100px;
    line-height: 45px;
}

.content .title{
    font-family: 'Courgette', cursive;
    font-size: xxx-large;
    font-weight: bold;
}

/* searching */
.searching {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searching .searchImg{
    flex: 1;
    max-width: 20%;
    height: auto;
    margin: 50px;
    margin-left: 100px;
}

.searching .content{
    flex: 2;
}

/* resulting */
.resulting {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #A3B18A;
}

.resulting .resultImg{
    flex: 1;
    max-width: 20%;
    height: auto;
    margin: 50px;
    margin-right: 100px;
}

.resulting .content{
    flex: 2;
}

/* translating */
.translating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.translating .translateImg{
    flex: 1;
    max-width: 20%;
    height: auto;
    margin: 50px;
    margin-right: 100px;
}

.translating .content{
    flex: 2;
}

/* bookmark */
.bookmark {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #A3B18A;
}

.bookmark .bookmarkImg{
    flex: 1;
    max-width: 20%;
    height: auto;
    margin: 50px;
    margin-right: 100px;
}

.bookmark .content{
    flex: 2;
}

.footer {
    width: 100%;
    background-color: #588157;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5px;
  }
  
  .footer p {
    margin: 4px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}
  
  .footer .contact i{
      margin: 10px;
  }

  .laptop {
    transition: transform 0.15s;
}

.laptop:hover {
    transform: scale(1.1);
}

.logo .title {
    transition: transform 0.15s;
}

.logo .title:hover {
    transform: scale(1.1);
}

.phone {
    transition: transform 0.15s;
}

.phone:hover {
    transform: scale(1.1);
}

/*img demo*/
.searchImg {
    transition: transform 0.15s;
}

.searchImg:hover {
    transform: scale(1.1);
}
.resultImg {
    transition: transform 0.15s;
}

.resultImg:hover {
    transform: scale(1.1);
}
.translateImg {
    transition: transform 0.15s;
}

.translateImg:hover {
    transform: scale(1.1);
}
.bookmarkImg {
    transition: transform 0.15s;
}

.bookmarkImg:hover {
    transform: scale(1.1);
}
